.ChallengeLeaderboard {
  #ranking_explain {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    a {
      position: relative;
      top: -1px;
    }
  }
  #ranking_info {
    text-align: left;
    margin-top: 10px;
  }
  #ranking_info ul {
    margin: 5px 0;
    padding-left: 25px;
  }
}