.Leaderboard {
  text-align: center;
  select, input[type="text"], input[type="number"] {
    background-color: #FC0;
    color: black;
    border: solid 1px #A0300A;
    padding: 2px;
  }
  select:hover, input[type="text"]:hover, input[type="number"]:hover {
    background-color: #FFC028;
  }
  select:active, input[type="text"]:active, input[type="number"]:active {
    background-color: #FF9010;
  }
  .pub {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
  }
  #month-selector {
    margin-top: 10px;
  }
  a {
    color: #F90;
  }
  a:hover {
    color: #FC0;
  }
  .ranking-modes.stripped > * {
    border-right: solid 1px #820;
  }
  .ranking-modes {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .ranking-modes > * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    border-top: solid 1px #820;
    border-bottom: solid 1px #820;
  }
  .ranking-modes > a {
    background-color: #FFE30C;
    color: #F60;
    text-decoration: none;
  }
  .ranking-modes > a:hover {
    background-color: #FFD816;
    color: #C30;
  }
  .ranking-modes > span {
    background-color: #FFC02C;
    color: #820;
    font-weight: bold;
  }
  .ranking-modes > *:first-child {
    border-left: solid 1px #820;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .ranking-modes > *:last-child {
    border-right: solid 1px #820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } 
}