.Leaderboard {
  table {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: double 4px black;
    background-color: #FFC028;
    font-weight: bold;
    color: black;
  }
  td {
    border: solid 1px black;
    margin: 2px;
    padding: 5px;
    width: 100px;
  }
  tr.fonce, tr.fonce a {
    color: #820;
  }
  tr.fonce a:hover {
    color: #B50;
  }
  tr.clair {
    background-color: #FFE30C;
  }
  tr.clair, tr.clair a {
    color: #F60;
  }
  tr.clair a:hover {
    color: #FA0;
  }
  tr a {
    text-decoration: none;
  }
  table div {
    margin-left: 30px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  table div img {
    height: 100%;
    position: relative;
    left: -144px;
  }
  table .recorder {
    white-space: nowrap;
    margin: 0 5px;
  }
  table .recorder img {
    height: 13px;
    margin-right: 7px;
  }
  #titres {
    background-color: #F90;
    font-size: 12px;
    padding: 2px;
  }
  #page {
    text-align: left;
    background-color: #F90;
    color: #800;
  }
  #page span {
    color: #800;
  }
  #page a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
  }
  #page a:hover {
    color: #FC0;
  }
}